<h1 id="first-page">About</h1>
<h2 id="machine-man">The machine guy</h2>
<p>I'm nathan I'm passoniate about so much things like the industrial machine as example and by chance I have the
    privilege to
    work in this field let me tell you one word or two about this</p>
<h2>What am I talking about ?</h2>
<p>Well industrial machine is a very large subject of study and I will choose to focus on machine tools CNC more
    precisely why CNC ?
    because this with these metal beast that we are manufacturing the most products of our current life, car and plane
    part, medical device
    and even you can believe it smartphone and latop part yes yes it's true and the list goes on and on !!!
</p>
<h2>What else ?</h2>
<p>Now we know the truth about nearly all the seductive appealing consumer object around us it 's time to reveal the
    magic
    behind their production.
</p>
<h2>My tools</h2>
<p>At the first beginning there was an idea a concept nothing concrete objective just an idea to make this project more
    tangible we need to draw it with some very sophisticated sofware the CAD (Computer Aid Design) there are several on
    the market
    SOLIDWORK AUTOCAD FUSION 360 and many other one</p>
<p>Once you have your print with all dimension and specification you can start to program the machine so that it make
    your part
    thanks to the progress before we have to do it manually with what we call Gcode a serie of instruction given to the
    machine
    to make the part, now have the CAM (computer aid manufacturing)</p>
<p>Now we are ready to make our hands dirty get our raw material it can be all sort of metal, alliage, plastic, and even
    wood which is quite different to machine
    you put the raw material often a cylinder or a square shape in the cnc you have some complex setting to do and when
    you know that's ok you can run the machine tool
    but you have to be there at nearly moment to check the entire process and if everything's correct machine tool can
    be very dangerous and sometimes crash happened
    so be cautious</p>
<p>So the machining is over get the part from the cnc and admire it !!!</p>
<p>You think it's over one step again take your measure instrument inspect the dimension and that's it </p>

<section class>
    <div id="cad">
        <img src="img/mastercam.jpg">
    </div>
    <div id="cam">
        <img src="img/solidworks.jpg">

    </div>
    <div id="raw">
        <img src="img/brut.jpg">
    </div>
    <div id="dim">
        <img src="img/mesure.jpg">
    </div>
</section>



<section class="first-section-btn">
    <button id="whoAreWe">Click here to discovers who we are</button>
    <div class="description">Welcome to our Website, this Yis a IronHack lab to let us
        work with Express.js as an introduction to the backend development</div>
</section>


{{!-- <section>
    <p>Welcome to our Website, this is a IronHack lab to let us
        work with Express.js as an introduction to the backend development</p>
</section> --}}