<h1 id="first-page">About</h1>
<section class="first-section-btn">
    <button id="whoAreWe">Click here to discovers who we are</button>
</section>


{{!-- <section>
    <p>Welcome to our Website, this is a IronHack lab to let us
        work with Express.js as an introduction to the backend development</p>
</section> --}}