<h1>Une introduction à l'electromecanique</h1>
<div class="systel">
    <img src="img/systeme.jpg">
</div>

<h2>Définition</h2>
<div id="first-div">
    <P>L'electromécanique est une discipline relative au science appliqué à la physique plus particulièrement.
        précisément l'électromecanique est une combinaison de plusieurs technologiques complémentaires
        l'electrotechnique, la mécanique, et même si ce n'est pas systématique l'electronique.</P>
</div>
<h2>Ce qu'est un système électromecanique</h2>
<div id="second-div">
    <p>Si l'on veut schématiser un système mécanique se décompose en deux éléments essentiels</p>
</div>
<div id="third-div">
    <ol>
        <li>La partie mécanique</li>
        <li>La partie électrique</li>
    </ol>
</div>
<div id="fourth-div">
    <p>Un système électromécanique ne peut fonctionner sans un agencement très précis de ses différents composants
        <br>
        le bloc électrique produit et transmet l'energie nécessaire au fonctionnement du système.
        le bloc mécanique est souvent la partie visible et animée il est chargé d'effectuer une ou plusieurs tâches un travail bien
        determiné</p>
    <p>Les exemples de systèmes abondent dans la vie courante: automobiles, moteurs electriques omniprésent dans l'electroménager ,machine-outil</p>
    <section class="exemple">
        <div class="electroménager">
            <img src="img/appareils-dyson.jpg">
        </div>
        <div class="voiture">
            <img src="img/tesla.jpg">
        </div>
        <div class="machine-outil">
            <img src="img/cnc.jpg">
            
        </div>
        <div class="moteur">
            <img src="img/moteur-electrique.jpg">
        </div>
    </section>
    

</section>

<section class="part-2">
    <h1>Écologie: Savez-vous composter ?</h1>
    <div class="compost-1">
        <h2>le compost, qu'est-ce que c'est ?</h2>
        <p>Le compost est la digestion des matières organiques par un ensemble d'organismes
            vivants (champignons, bactéries, instectes animaux..)</p>
        <div class="compost">
            <img src="/img/compost.jpg" alt="image de compost">
        </div>
    </div>
    <h2>Pourquoi composter ?</h2>
    <div class="compost-with-ol">
        <ol>
            <li>Redonner à la terre une partie des nutriments prélevés auparavant</li>
            <li>Réduire ses déchets</li>
            <li>Se responsabiliser par rapport à la production de déchets</li>
        </ol>
    </div>
    <h2>Compostez en ville, rien de plus simple!</h2>
    <p class="composting-p">Vous avez différentes solutions pour composter en ville:
    </p>
    <div class="compost-with-ul">
        <ul>
            <li>Le bokashi</li>
            <li>Un simple seau hermétique</li>
            <li>trouvez une association de compostage</li>
            <li>Trouvez un compost de quartier</li>
        </ul>
    </div>
    <div class="boka-class">
        <img id="boka" src="/img/bokashiseau.jpg" alt="exemple bokashi">
    </div>

    <h2>Quoi composter ?</h2>
    <p class="composting-p">rien de plus simple, tous vos déchets de cuisine, vos déchets de jardin,
        vos fruits et légumes (tous sans exeption)</p>
    <h1>Et maintenant, à vous de jouer !</h1>
</section>