
    <h1>Une introduction à l'electromecanique</h1>
    <h2>Définition</h2>
    <P>L'electromécanique est une discipline relative au science appliqué à la physique plus particulièrement.
        précisément l'électromecanique est une combinaison de plusieurs technologiques complémentaires
        l'electrotechnique, la mécanique, et même si ce n'est pas systématique l'electronique.</P>
    <h2>Ce qu'est un système electromecanique</h2>
    <p>Si l'on veut schématiser un système mécanique se décompose en deux éléments essentiels</p>
    <ol>
        <li>La partie mécanique</li>
        <li>La partie électrique</li>
    </ol>
    <p>Un système électromécanique ne peut fonctionner sans un agencement très précis de ses différents composants</p>

    

