<h1>Une introduction à l'electromecanique</h1>
<div class="systel">
    <img src="img/systeme.jpg">
</div>

<h2>Définition</h2>
<div id="first-div">
    <P>L'electromécanique est une discipline relative au science appliqué à la physique plus particulièrement.
        précisément l'électromecanique est une combinaison de plusieurs technologiques complémentaires
        l'electrotechnique, la mécanique, et même si ce n'est pas systématique l'electronique.</P>
</div>
<h2>Ce qu'est un système electromecanique</h2>
<div id="second-div">
    <p>Si l'on veut schématiser un système mécanique se décompose en deux éléments essentiels</p>
</div>
<div id="third-div">
    <ol>
        <li>La partie mécanique</li>
        <li>La partie électrique</li>
    </ol>
</div>
<div id="fourth-div">
    <p>Un système électromécanique ne peut fonctionner sans un agencement très précis de ses différents composants
        <br>
        le bloc electrique produit et transmet l'energie nécessaire au fonctionnement du système.
        <br>
        le bloc mecanique est souvent la partie visible et animé il est chargé d'effectuer une ou plusieurs tache un
        travail
        bien
        determiné.</p>
    <p>Les exemples de systèmes abondent dans la vie courante: automobiles, moteurs electrique omniprésent dans
        l'electroménager, machine-outil.</p>
</div>
<section class="exemple">
    <div class="electroménager">
        <img src="img/appareils-dyson.jpg">
    </div>
    <div class="voiture">
        <img src="img/tesla.jpg">
    </div>
    <div class="machine-outil">
        <img src="img/cnc.jpg">

    </div>
    <div class="moteur">
        <img src="img/moteur-electrique.jpg">
    </div>


</section>