*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #9ad1d4;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    
}
a{
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: #003249;
    color: whitesmoke;
    border-radius: 5%;
}
#first-page{
    text-align: center;
    color: #003249;
}
.test{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
button{
    padding: 10px;
    text-align: center;
    background-color: #003249;
    color: whitesmoke;
    border: none;
    border-radius: 2%;
}
h1{
    margin: 2%;
    text-align: center;
    color: #003249;
}
h2{
    margin: 2%;
    text-align: center;
    color: #003249;
}
img{
    position: relative;
    width: 300px;
    height: 200px;
}
.systel{
    display: flex;
    justify-content: center;
}
/* .systel div{
    border: 3px solid black;
} */
.exemple{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}
#first-div{
    margin: 0 20% 0 20%;
    text-align: center;
}
#second-div{
    margin: 0 20% 0 20%;
    text-align: center;
}
#third-div{
    margin: 2% 20% 2% 20%;
    text-align: center;
}
#third-div ol li{
    list-style: none;
    line-height: 1.5;
}
#fourth-div{
    margin: 2% 13% 2% 13%;
    text-align: center;
    line-height: 1.5;
}